################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/smalling compo/FileContentIndex/900ad24b-e470-4441-97ad-67f5a20d4107.vsidx
/.vs/smalling compo/FileContentIndex
